{:deps {org.clojure/spec.alpha {:mvn/version "0.1.143"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}
        org.clojure/core.async {:mvn/version "0.5.527"}
        expound/expound {:mvn/version "0.9.0"}}
 :aliases {:clojure1.9
           {:extra-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
           :clojure1.10
           {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :clojure1.11
           {:extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}}}

