{:deps    {org.clojure/clojure    {:mvn/version "1.9.0"}
           org.clojure/spec.alpha {:mvn/version "0.1.143"}
           org.clojure/tools.cli  {:mvn/version "0.3.7"}
           org.clojure/core.async {:mvn/version "0.5.527"}
           expound                {:mvn/version "0.7.1"}}
 :aliases {:babashka      {:deps {org.clojure/clojure   {:mvn/version "1.10.1"
                                                         :exclusions  [org.clojure/core.specs.alpha org.clojure/spec.alpha]}
                                  borkdude/spartan.spec {:git/url "https://github.com/borkdude/spartan.spec"
                                                         :sha     "4762f629ac2d146da2296923bb8b40fb42c69b30"}
                                  cljc.java-time        {:mvn/version "0.1.11"}}}
           :babashka-test {:extra-deps {cljc.java-time {:mvn/version "0.1.11"}}}}}
