{:deps
 {
 org.clojure/clojure {:mvn/version "1.9.0"}
 org.clojure/spec.alpha {:mvn/version "0.1.143"}
 orchestra {:mvn/version "2017.11.12-1"}

 org.clojure/java.jdbc {:mvn/version "0.7.5"}
 org.clojure/data.csv  {:mvn/version "0.1.4"}
 org.xerial/sqlite-jdbc {:mvn/version "3.21.0.1"}
 org.clojure/tools.cli {:mvn/version "0.3.5"}
 org.jopendocument/jOpenDocument {:mvn/version "1.3"}
 clj-http {:mvn/version  "3.7.0"}
 cheshire {:mvn/version "5.8.0"}

 }
}

