{:cljdoc.doc/tree [["Introduction" {:file "README.md"}]
                   ["Scripting with Planck" {:file "examples/cljs-planck/README.md"}]
                   ["Scripting with Babashka" {:file "examples/bb/README.md"}]
                   ["Change log" {:file "CHANGELOG.md"}]
                   ["Contribuiting" {:file "CONTRIBUTING.md"}]]}
